* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

//.hero__container {
//  position: relative;
//  padding: 116px 0 228px;
//}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col-4 {
  width: 33.333%;
  padding: 0 10px;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
}
.col-10{
  width: 20%;
  padding: 0 10px;
}

.header {
  padding: 50px 0 0;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }

  &__logo-images {
    margin-right: 10px;
  }
  &__burger-img{

    width: 20px;
    height: 20px;
    background: none;
    border: none;
    display: none;
  }

  &__nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav-items {
    list-style: none;
    margin-right: 40px;
  }

  &__nav-link {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4F5665;
  }

  &__nav-items:last-child {
    margin-right: 0;
  }

  &__nav-sign {

  }

  &__nav-sign-in {

    text-decoration: none;
    margin-right: 30px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0B132A;
  }

  &__button {

    width: 150px;
    height: 45px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
  }

  &__button-link {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F53855;
  }
}

.hero {
  height: 100vh;
  min-height: 773px;

  &__content {
    padding: 120px 0 0;
  }

  &__title {
    width: 555px;
    height: 140px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 555px;
    max-height: 60px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 50px;
  }

  &__button {
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    margin-bottom: 128px;

  }

  &__button-link {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;

  }

  &__photo {
    padding: 88px 0 0;
    max-width: 611px;
    max-height: 382px;
  }

  &__images {
    margin-bottom: 103px;

  }
  &__card{

  }
  &__border{
    //display: flex;
    //justify-content: space-between;
    //width: 1140px;
    background: #FFFFFF;
    height: 194px;
    padding: 37px 0;
  }
  &__box{
    display: flex;
    background: #FFFFFF;
    padding: 35px 0 35px 91px;
    width: 365px;
    height: 126px;
    border-right: 2px solid #EEEFF2;
  }


  &__box-3 {
    border: none;
  }

  &__radius {
    text-align: center;
    width: 55px;
    height: 55px;
    background: #FFECEC;
    border-radius: 50%;
    margin-right: 36px;
  }

  &__box-img {
    padding: 15px 0 0;

  }

  &__number {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
  }

  &__user {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #4F5665;
  }

}


.features {
  padding: 140px 0 131px;
  background: #F7F7F7;

  &__img {
    max-width: 508px;
    max-height: 415px;
  }

  &__content {
    padding: 36px 0 0;
  }

  &__title {
    max-width: 383px;
    height: 100px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__text {
    width: 427px;
    height: 60px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 25px;
  }

  &__col-6 {
    padding: 0 0 0 150px;
  }

  &__ul {
    list-style: none;
    margin-bottom: 25px;
  }

  &__item::before {
    content: url("../images/check .svg");
    position: relative;
    top: 3px;
    margin-right: 12px;

  }

  &__items {
    height: 30px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;

  }
}

.pricing {
  padding: 80px 0 150px;

  &__title {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__text {
    width: 555px;
    height: 60px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin: 0 auto 60px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 80px 0 50px;
    width: 330px;
    min-height: 760px;
    height: 100%;
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
  }

  &__box-img {
    width: 144px;
    height: 165px;
    margin-bottom: 30px;
  }

  &__box-title {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 30px;
  }

  &__ul {
    list-style: none;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 20px 0 75px;

  }

  &__li-items::before {
    content: url("../images/jam_check.svg");
    position: relative;
    top: 6px;
    margin-right: 15px;

  }

  &__li-items {
    height: 30px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;

  }

  &__free-title {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__button {
    width: 177px;
    height: 45px;
    border: 2px solid #F53838;
    border-radius: 50px;
    background: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #F53838;

    &:hover {
      box-shadow: 0 30px 40px -5px #F5383859;
      background: #F53838;
      color: #FFFFFF;;
    }
  }

  &__span {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #0B132A;
  }
}

.global {
  padding: 0 0 29px;

  &__title {
    width: 383px;
    height: 100px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin: 0 auto 20px;
  }

  &__text {
    width: 555px;
    height: 60px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin: 0 auto 156px;
  }

  &__photo {
    margin: 0 auto 6px;
    width: 1060px;
    height: 537.77px;
  }

  &__img {

  }

  &__card-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 208px;
  }
}

.testimonials {
  padding: 50px 0 0;

  &__box-slick {
    //margin-left: 280px;

  }

  &__title {
    width: 447px;
    height: 100px;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin: 0 auto 20px;
  }

  &__text {
    max-width: 555px;
    max-height: 60px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin: 0 auto 60px;
  }

  &__card {
    margin-right: 59px;
    padding: 30px 30px;

    max-width: 400px;
    max-height: 230px;
    background: white;
    border: 2px solid #F53838;
    border-radius: 10px;
  }

  &__card-content {
    display: flex;
    justify-content: space-between;

  }

  &__box {
    display: flex;

  }

  &__img {
    background: url("../images/robert.png");
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 21px;
  }
  .testimonials__img-2{
    background: url("../images/christy.png");
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 21px;
  }
  .testimonials__img-3{
    background: url("../images/kim.png");
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 21px;
  }

  &__name {
    width: 130px;
    height: 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
  }

  &__country {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #4F5665;
  }

  &__grade {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
  }

  &__star {
    margin-left: 11px;
    max-width: 16px;
    max-height: 16px;
  }

  &__card-text {
    max-width: 340px;
    max-height: 100px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
  }

  &__subscribe-box {
    position: relative;
    bottom: -116px;
    display: flex;
    justify-content: space-between;
    padding: 58px 70px;
    margin: 0 auto;
    width: 1140px;
    height: 233px;
    background: #FFFFFF;
  }

  &__subscribe-title {
    width: 371px;
    height: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__subscribe-text {
    width: 410px;
    height: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  &__subscribe-button {
    width: 250px;
    height: 60px;
    left: 970px;
    top: 4595.78px;
    background: #F53838;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
  }

  &__subscribe-button-box {
    padding: 28px 0;
  }
}

.footer {
  background: #F8F8F8;
  padding: 180px 0 100px;

  &__footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #0B132A;
  }

  &__logo-images {
    margin-right: 10px;
  }

  &__footer-text {
    width: 340px;
    height: 61.57px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 30px;
  }

  &__span {
    width: 340px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  &__link {
    display: inline-block;
    background: white;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    color: red;
    text-align: center;
    padding: 10px 0 0;
  }

  &__year {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;

    color: #AFB5C0;
  }

  &__box-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 20px;
  }

  &__box-li {
    list-style: none;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
  }

  &__box-3 {
    max-width: 121px;
    margin-left: auto;
  }
}

.slick-dots {
  left: -462px;
  bottom: -82px;
}

.slick-dots li.slick-active button:before {
  color: red;

}

.slick-next {
  right: 161px;
  width: 60px;
  height: 60px;
  top: 298px;
  background: red;
  border-radius: 50%;
}

.slick-dots li button:before {
  font-size: 20px;

}

.slick-prev {
  width: 60px;
  height: 60px;
  left: 79%;
  top: 298px;
  background: red;
  border-radius: 50%;
}

.slick-next:before {
  content: "" url("../images/strelka.svg");
}

.slick-prev:before {
  content: "" url("../images/strelka-2.svg");
}
.slick-slider .slick-track{
  transform: translate3d(125px, 0px, 0px);
}















